.public-box {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100%;
	flex-direction: column;
}

.display {
	line-height: 150px;
	font-size: 75px;
	text-align: center;
}

.enter-fullscreen {
	position: fixed;
	top: 0;
	left: 0;
}